body {
  margin: 0;
}

#bk-donobar_wrapper {
  font-family: {{font}};
  font-size: {{fontSize}}px;
  font-weight: {{fontWeight}};
  box-sizing: border-box;
}

#bk-donobar {
  height: {{barHeight}}px;
  margin-left: {{shadowBlur}}px;
  margin-right: {{shadowBlur}}px;
}

.h-100 {
  height: 100%;
}

.h-95 {
  height: 95%;
}

.w-100 {
  width: 100%;
}

.w-95 {
  width: 95%;
}

.bordered {
  border-width: {{borderWidth}}px;
  border-color: {{borderColor}};
  border-style: solid;
  border-radius: {{borderRadius}}px;
}

.shadowed {
  box-shadow: 0px 0px {{shadowBlur}}px {{shadowSpread}}px {{shadowColor}};
}

.bar-color-bg {
  background-color: {{barColor}};
}

.trans-w {
  transition: width .5s;
}

.text-color {
  color: {{fontColor}};
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.absolute-wrapper {
  position:absolute;
  width: 90%;
}

.flex {
  display: flex; 
}

.flex-row {
  flex-direction: row;
}

.flex-align-center {
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}